altgraph==0.17
ExifRead==2.3.2
importlib-metadata==4.0.1
lxml==4.6.3
macholib==1.14
pikepdf==2.11.4
Pillow==8.2.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PySide2==5.15.2
reportlab==3.5.67
shiboken2==5.15.2
typing-extensions==3.7.4.3
zipp==3.4.1
